voila==0.5.0
voila-topbar==0.1.1
ipykernel
pandas
bokeh
bqplot
ipympl==0.9.2
jupyterlab-fasta
matplotlib
scipy
vega_datasets
ipyvolume
ipywidgets
numpy
yfinance
cvxopt
streamlit
jupyter
jupyter-archive
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server-mathjax
jupyter-telemetry
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_fairly
jupyter_server
jupyter_server_fileid
jupyter_server_proxy
jupyter_server_terminals
jupyter_server_ydoc
jupyterhub
jupyterlab
jupyterlab-dash
jupyterlab-drawio
jupyterlab-lsp
jupyterlab-proxy-gui
jupyterlab_git
jupyterlab_myst
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupytext
